<% provide(:title, 'Log in') %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    
      <%= f.label :employee_no, "従業員No（半角数字）" %>
      <%= f.text_field :employee_no, class: "form-control" %>
      
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>
      
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    
    <p>新規登録がまだの方は<%= link_to "こちら", signup_path %></p>
  </div>
</div>