<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>(<%= @user.employee_no %>)
</h1>

<div>
  <%= month_calendar events: @hope_shifts do |date, hope_shifts| %>
    <%= link_to date.day, new_hope_shift_path(date) %>
    <% hope_shifts.each do |hope_shift| %>
      <div>
        <%= hope_shift.content %>
      </div>
    <% end %>
  <% end %>
</div>