<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>(<%= @user.employee_no %>)
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset 3">
    <%= link_to "シフト申請", new_hope_shift_path %>
    <%= month_calendar events: @hope_shifts do |date, hope_shifts| %>
      <%= date.day %>
    <% end %>
  </div>
</div>