<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>(<%= @user.employee_no %>)
</h1>

<div>
  <%= month_calendar events: @hope_shifts do |date, hope_shifts| %>
    <%= link_to date.day, new_hope_shift_path(date) %>
    <% hope_shifts.each do |hope_shift| %>
      <div>
        <% if hope_shift.content.present? %>
          <%= link_to hope_shift.content, edit_hope_shift_path(hope_shift) %>
        <% else %>
          <%= link_to hope_shift.hope_start_time, edit_hope_shift_path(hope_shift) %>
          ~
          <%= link_to hope_shift.hope_end_time, edit_hope_shift_path(hope_shift) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>