<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>(<%= @user.employee_no %>)
</h1>

<div>
  <%= month_calendar events: @fixed_shifts do |date, fixed_shifts| %>
    <%= link_to date.day, day_index_fixed_shifts_path(date) %>
    <% fixed_shifts.each do |fixed_shift| %>
      <div>
        <% if fixed_shift.published? %>
          <% if fixed_shift.absence == true %>
            休み
          <% else %>
            <%= fixed_shift.fixed_start_time.strftime("%H:%M") %>
            ~
            <%= fixed_shift.fixed_end_time.strftime("%H:%M") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>