<div class="simple-calendar">
  <div class="calendar-heading center">
    <%= link_to t('simple_calendar.previous', default: '前月'), calendar.url_for_previous_view  %>
    <span class="calendar-title"><%= start_date.year %> <%= t('date.month_names')[start_date.month] %></span>
    <%= link_to t('simple_calendar.next', default: '次月'), calendar.url_for_next_view %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.each_slice(31) do |week| %>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tr>
      
    </thead>

    <tbody>
      
    </tbody>
  </table>
</div>
