<% provide(:title, '仮シフト表') %>
<h1>仮シフト表</h1>

<%= SimpleCalendar::CurrentMonthCalendar.new(self, {}).render do |date| %>
  <%= link_to date.day, day_index_fixed_shifts_path(date) %>
<% end %>

<% if current_user.admin? %>
  <%= form_with(url: toggle_status_fixed_shifts_path, local: true, class: "form-inline pt-3") do |f| %>
    <%= f.date_field :start_date, class: "form-control mb-0" %>
    <span class="mx-md-3">~</span>
    <%= f.date_field :end_date, class: "form-control mb-md-0" %>
    <%= f.submit "公開", class: "btn btn-primary mx-md-3 mb-0" %>
  
    <!--<%= link_to "すべて公開", toggle_status_fixed_shifts_path, class: "btn btn-primary", method: :patch %>-->
    <%= link_to "LINEに通知", line_notify_fixed_shifts_path, class: "btn btn-success mt-md-3 mt-lg-0 ml-3 ml-md-0",
                                  method: :post %>
  <% end %>
<% end %>