<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if logged_in? %>
      <%= render 'layouts/user_loggedin' %>
    <% else %>
      <%= render 'layouts/user_nologgedin' %>
    <% end %>
    <% if logged_in? && !current_user.join_group? %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
